name: Download and Replace Image

on:
  schedule:
    # Make it run every 24 hour
    - cron: '0 0 * * *'
  workflow_dispatch:
  
  push:
    branches:
      - main  # You can change this to your desired branch

jobs:
  download_and_replace_image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Download Image
      run: |
        # Create a directory to store the image (if it doesn't exist)
        # mkdir -p images
        
        # Use wget or curl to download the image and replace the existing one
        wget -O images/d_mf.ramirezl.png https://tryhackme-badges.s3.amazonaws.com/mf.ramirezl.png
        # or
        # curl -o images/d_mf.ramirezl.png https://tryhackme-badges.s3.amazonaws.com/mf.ramirezl.png

    - name: Compare Images
      id: compare_images
      run: |
        if cmp -s images/d_mf.ramirezl.png images/mf.ramirezl.png; then
          echo "::set-output name=images_are_same::true"
        else
          echo "::set-output name=images_are_same::false"
        fi

    - name: Commit and Push Changes
      if: steps.compare_images.outputs.images_are_same == 'false'
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

        mv images/d_mf.ramirezl.png images/mf.ramirezl.png
        git add images/mf.ramirezl.png
        git commit -m "Update TryHackMe profile badge"
        git push

# You may want to customize the download URL and the path to the image in the above steps.
